<p class="text-center">
    <a href="https://www.facebook.com/juan.g.gonzalez.75" target="_blank">
        <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Facebook" width="25" height="25">
    </a>
    <a href="https://twitter.com/juan_gonzalez_75" target="_blank">
        <img src="https://cdn.worldvectorlogo.com/logos/twitter-3.svg" alt="Twitter" width="25" height="25">
    </a>
    <a href="https://www.instagram.com/juan_gonzalez_75/" target="_blank">
        <img src="https://cdn.worldvectorlogo.com/logos/instagram-2.svg" alt="Instagram" width="25" height="25">
    </a>
    <a href="https://www.youtube.com/channel/UC-lHJZR3Gqxm24_Vd_AJ5Yw" target="_blank">
        <img src="https://cdn.worldvectorlogo.com/logos/youtube-3.svg" alt="Youtube" width="25" height="25">
    </a>
</p>
